## Soal UTS

In [1]:

# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

The next few cells will show some examples on how to interact with our functions. Note that some of these function calls could be useful for you in completing the tasks below.

## Task 1

Please get the list of all Companies and sort by **Company Name** in reverse order.

Expected result:


```json
[{
    "name": "Company 3"
}, {
    "name": "Company 2"
}, {
    "name": "Company 1"
}]
```

In [7]:
daftarPerusahaan=[]

for company in company_detail_list :
    daftarPerusahaan.append(company["name"])
print(daftarPerusahaan)

['Company 1', 'Company 2', 'Company 3']

In [8]:
daftarPerusahaan.sort(reverse=True)
print(daftarPerusahaan)

['Company 3', 'Company 2', 'Company 1']

In [6]:
jawabanNo1 = []
for perusahaan in daftarPerusahaan :
    jawabanNo1.append({"name" :perusahaan})
print(jawabanNo1)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

## Soal 2

Please print all Domain value in every company (use print statement).

Expected return:

```
    Company 1: Retail (United States)
    Company 2: Technology (United Kingdom)
    Company 3: Healthcare (United States)
```

In [3]:
for company in company_detail_list :
    print(company["name"] + ": "+company["domain"]+" ("+company["country"]+")")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

## Task 3

List all Employees work By company domain.

Expected return:

```json
{
    "Retail": [
         "John Doe",
         "Robert White",
         "Ying Han Tan"
     ],
    "Technology":[
          "Tom Smith",
          "Rubby Lee",
     ],
    "Healthcare": [
         "Kenneth Ng",
         "Andrew Sebastian"
     ],
}
```

In [9]:
jawabanNo3 = {}

companyToDomain={}
for company in company_detail_list :
    companyToDomain[company["name"]] = company["domain"]
    jawabanNo3[company["domain"]] = []
print(jawabanNo3)

{'Retail': [], 'Technology': [], 'Healthcare': []}

In [10]:
for employee in employee_detail_list:
    domain = companyToDomain[employee["company"]]
    jawabanNo3[domain].append(employee["full_name"])
print(jawabanNo3)

{'Retail': ['John Doe', 'Ying Han Tan', 'Robert White'], 'Technology': ['Tom Smith', 'Rubby Lee'], 'Healthcare': ['Andrew Sebastian', 'Kenneth Ng']}

## Task 4

Create a function that return employees with it's company country.

Expected return:


```json
[{
    "full_name": "John Doe",
    "company": "Company 1",
    "country": "United States"
}, {
    "full_name": "Tom Smith",
    "company": "Company 2",
    "country": "United Kingdom"
}, {
    "full_name": "Andrew Sebastian",
    "company": "Company 3",
    "country": "United Kingdom"
},  {
    "full_name": "Ying Han Tan",
    "company": "Company 1",
    "country": "United States"
},  {
    "full_name": "Kenneth Ng",
    "company": "Company 3",
    "country": "United States"
},  {
    "full_name": "Rubby Lee",
    "company": "Company 2",
    "country": "United Kingdom"
},   {
    "full_name": "Robert White",
    "company": "Company 1",
    "country": "United States"
},
    
]
```

In [11]:
companyToCountry={}
for company in company_detail_list :
    companyToCountry[company["name"]] = company["country"]
print(companyToCountry)

{'Company 1': 'United States', 'Company 2': 'United Kingdom', 'Company 3': 'United States'}

In [12]:
arr = []
for employee in employee_detail_list :
    country = companyToCountry[employee["company"]]
    arr.append({
        "full_name": employee['full_name'],
        "company": employee["company"],
        "country": country
    })

print(arr)

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

In [14]:
def jawabanNo4(company,empoyee):
    companyToCountry={}
    for company in company :
        companyToCountry[company["name"]] = company["country"]
    
    returnValue = []
    for employee in empoyee :
        country = companyToCountry[employee["company"]]
        returnValue.append({
            "full_name": employee['full_name'],
            "company": employee["company"],
            "country": country
        })
    return returnValue
print(jawabanNo4(company_detail_list,employee_detail_list))

[{'full_name': 'John Doe', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Tom Smith', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Andrew Sebastian', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Ying Han Tan', 'company': 'Company 1', 'country': 'United States'}, {'full_name': 'Kenneth Ng', 'company': 'Company 3', 'country': 'United States'}, {'full_name': 'Rubby Lee', 'company': 'Company 2', 'country': 'United Kingdom'}, {'full_name': 'Robert White', 'company': 'Company 1', 'country': 'United States'}]

## Task 5

Create a function that return companies with a number of employees nationality that are working in the company.

Expected return:


```json
[{
    "company": "Company 1",
    "employee_nationality": {
        "Australia": 2,
        "Hong Kong": 1
    }
}, {
    "company": "Company 2",
    "employee_nationality": {
        "Hong Kong": 1,
        "United States": 1
    }
}, {
    "company": "Company 3",
    "employee_nationality": {
        "United States": 2
    }
}]
```

In [15]:
company_employee_nationality={}
for company in company_detail_list :
    company_employee_nationality[company["name"]] = {}
print(company_employee_nationality)

{'Company 1': {}, 'Company 2': {}, 'Company 3': {}}

In [16]:
for employee in employee_detail_list :
    nationality = employee["nationality"]
    company = employee["company"]
    try:
        company_employee_nationality[company][nationality] += 1
    except:
        company_employee_nationality[company][nationality] = 1

print(company_employee_nationality)

{'Company 1': {'Australia': 2, 'United Kingdom': 1}, 'Company 2': {'United States': 1, 'Hong Kong': 1}, 'Company 3': {'United States': 2}}

In [21]:
def jawabanNo5(companyDetail, employeeDetail):
    company_employee_nationality={}
    for company in companyDetail :
        company_employee_nationality[company["name"]] = {}
    
    for employee in employeeDetail :
        nationality = employee["nationality"]
        company = employee["company"]
        try:
            company_employee_nationality[company][nationality] += 1
        except:
            company_employee_nationality[company][nationality] = 1

    return company_employee_nationality
    
print(jawabanNo5(company_detail_list,employee_detail_list))

{'Company 1': {'Australia': 2, 'United Kingdom': 1}, 'Company 2': {'United States': 1, 'Hong Kong': 1}, 'Company 3': {'United States': 2}}

In [25]:
dataMahasiswa = {
    "Nama":"Rifqi Maulana Jati",
    "NIM":221011402441,
    "Kelas":"05TPLM008"
}
print(dataMahasiswa)

{'Nama': 'Rifqi Maulana Jati', 'NIM': 221011402441, 'Kelas': '05TPLM008'}